<h1>Welcome Real Estate Associate!</h1>

<h3>If you would like to add a new building:</h3>
<%= link_to 'Add New Building', new_building_path %>

<h3>If you would like to add a new building owner:</h3>
<%= link_to 'Add New Owner', new_owner_path %>

<h3>If you would like to view all tenants:</h3>
<%= link_to 'View Tenants', tenants_path %>